* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
}

:root {
  --color1: #c18976;
  --color2: #d5b0a3;
  --color3: #5b3529;
  --color4: #7c7c84;
  --color5: #959ca6;
  --color6: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-image: url("arquivo/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.quadrado {
  width: 24rem;
  height: 30rem;
  background-color: var(--color3);
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  border-radius: 20px;
  box-shadow: -2px -1px 20px 2px rgb(227 227 227);
  border: 1px solid black;
  padding: 15px;
  box-sizing: border-box;
  animation: luz-led 5s linear infinite;
}

@keyframes luz-led {
  0% {
    box-shadow: 0 0 20px 10px var(--color2);
  }
  50% {
    box-shadow: 0 0 20px 10px transparent;
  }
  100% {
    box-shadow: 0 0 20px 10px var(--color2);
  }
}

.itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tela {
  width: 90%;
  height: 5rem;
  background-color: white;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 85%;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 10px;
  justify-items: center;
}
.customAlert {
  text-align: center;
  border: 1px solid black;
}

.button {
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 0;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color5) !important;
  color: #fff;
}

footer {
  background-color: var(--color4);
  color: var(--color6);
  text-align: center;
  padding: 1em 0;
  width: 100%;
  margin-top: auto;
}
